<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"/>
    <style>
        :root {
            font-family: 'Roboto', sans-serif;
        }

        * {
            font-family: inherit;
        }
    </style>
</head>
<body>
    <div style="padding: 20px; display: flex; justify-content: center; background-color: #f9f9f9;">
        <div style="border: 1px solid #dddddd; padding: 40px 60px; max-width: 600px;">
            <div style="display: flex; justify-content: center; margin-bottom: 30px;">
                <img alt="WallE" src="{{server_address}}/static/logo.png"/>
            </div>
            {{{body}}}
            
        </div>
    </div>
</body>
</html>

